.navbar {
    background: steelblue;
}

.navbar a:hover{
    color: #fff;
}

.navbar a {
    color: #343a40;
}

.navbar-brand {
    font-weight: bold;
}

.bio-container {
    padding: 30px;
    color: lightgray;
    flex-direction: column;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

#pic {
    width: 100%;
    display: flex;
    justify-content: center;
}

#about-me {
    padding: 30px 40px;
    font-size: 26px;
}

#profile-pic {
    display: block;
    width: 300px;
    height: 300px;
    box-shadow: 1px 2px 4px darkgray;
}

.connect-container {
    background: lightgray
}

#connect p {
    font-weight: bold;
    margin-bottom: 0;
}

#github {
    width: 6.5%;
    height: 6.5%;
    padding: 8px;
}

#linkedin {
    width: 6%;
    height: 6%;
    padding: 8px;
}

.page-footer {
    background-color: steelblue;
    color: #fff;
}

@media (min-width: 7680px) {

    .bio-container {
        height: 600px;
        padding: 30px;
        color: lightgray;
        flex-direction: row;
    }

    #about-me {
        width: 60%;
        padding: 10%;
    }

    #pic {
        width: 40%;
    }

    #profile-pic {
        display: block;
        width: 80%;
        height: 85%;
        box-shadow: 1px 2px 4px darkgray;
    }

    .card-group {
        margin-top: 5%;
        margin-bottom: 2.4%;
    }

    .card {
        padding: 2%;
    }

    #connect p {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    #github {
        width: 6.5%;
        height: 6.5%;
        padding: 8px;
    }

    #linkedin {
        width: 6%;
        height: 6%;
        padding: 8px;
    }

    .page-footer {
        height: 40px;
        bottom: 0;
        width: 100%;
    }

    .footer-copyright {
        padding-top: 8px;
    }

    #row-container{
        margin-left: 25%;
        margin-bottom: 3%
    }

    #last-row {
        margin-left: 25%;
        margin-bottom: 6.4%
    }

    .col-2 {
        padding-left: 0px;
        padding-right: 0px;
    }

    #port7 {
        width: 80px;
        height: 90px;
    }
    #port11 {
        width: 110px;
        height: 100px;
    }
    #port9 {
        width: 110px;
        height: 90px;
    }
    #port12 {
        width: 65px;
        height: 65px;
        margin-left: 35px;
        margin-top: 10px
    }

    #port4 {
        width: 80px;
        height: 90px;
    }

    #port5 {
        width: 90px;
        height: 90px;
    }

    #port6 {
        width: 90px;
        height: 110px;
    }

    #port10 {
        width: 140px;
        height: 90px;
        margin-top: 5px
    }

    #port1 {
        width: 80px;
        height: 90px;
        margin-top: 5px
    }

    #port2 {
        width: 90px;
        height: 100px;
    }

    #port3 {
        width: 60px;
        height: 90px;
        margin-top: 5px;
        margin-left: 20px;
    }

    #port8 {
        width: 130px;
        height: 90px;
        margin-top: 10px;
        margin-left: 10px
    }
}
